atLogic/Service References/AtriumX/AtriumX.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/lmras" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/lmras" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AtriumXCon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Connect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AtriumXCon" nillable="true" type="tns:AtriumXCon" />
</xs:schema>