atLogic/Service References/AtriumX/AtriumX5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/lmDatasets" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="officeDB.OfficerPrefsDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="officeDB.OfficerPrefsDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="OfficerPrefsDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="officeDB.OfficerRoleDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="officeDB.OfficerRoleDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="OfficerRoleDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="officeDB.ServiceCentreDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="officeDB.ServiceCentreDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="ServiceCentreDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SecurityDB.secMembershipDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="SecurityDB.secMembershipDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="secMembershipDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="SecurityDB.secUserDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="SecurityDB.secUserDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="secUserDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="docDB.VersionHistoryListDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="docDB.VersionHistoryListDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="VersionHistoryListDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="docDB.DocXRefDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="docDB.DocXRefDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="DocXRefDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="appDB.ContactSearchDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="appDB.ContactSearchDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/appDB.xsd" name="namespace" />
      <xs:attribute fixed="ContactSearchDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="appDB.EFileSearchDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="appDB.EFileSearchDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/appDB.xsd" name="namespace" />
      <xs:attribute fixed="EFileSearchDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.AddressDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.AddressDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="AddressDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelpDB.hlpImageDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="HelpDB.hlpImageDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/HelpDB.xsd" name="namespace" />
      <xs:attribute fixed="hlpImageDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelpDB.hlpPageDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="HelpDB.hlpPageDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/HelpDB.xsd" name="namespace" />
      <xs:attribute fixed="hlpPageDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelpDB.hlpXmlDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="HelpDB.hlpXmlDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/HelpDB.xsd" name="namespace" />
      <xs:attribute fixed="hlpXmlDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CLAS.CashBlotterDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="CLAS.CashBlotterDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="CashBlotterDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CLAS.CBDetailDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="CLAS.CBDetailDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="CBDetailDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CLAS.DebtorDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="CLAS.DebtorDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="DebtorDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CLAS.OfficeAccountDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="CLAS.OfficeAccountDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="OfficeAccountDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.DisbursementDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.DisbursementDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="DisbursementDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.ActivityDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.ActivityDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="ActivityDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.ActivityBFDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.ActivityBFDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="ActivityBFDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.ActivityTimeDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.ActivityTimeDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="ActivityTimeDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="appDB.SRPClientDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="appDB.SRPClientDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/appDB.xsd" name="namespace" />
      <xs:attribute fixed="SRPClientDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="appDB.TimeSlipDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="appDB.TimeSlipDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/appDB.xsd" name="namespace" />
      <xs:attribute fixed="TimeSlipDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="appDB.TimeSlipBranchDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="appDB.TimeSlipBranchDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/appDB.xsd" name="namespace" />
      <xs:attribute fixed="TimeSlipBranchDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.ActivityXRefDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.ActivityXRefDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="ActivityXRefDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.AppointmentDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.AppointmentDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="AppointmentDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.TimeLineDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.TimeLineDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="TimeLineDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.ApptRecurrenceDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.ApptRecurrenceDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="ApptRecurrenceDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.ArchiveBatchDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.ArchiveBatchDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="ArchiveBatchDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.AttendeeDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.AttendeeDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="AttendeeDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.ddEntityDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.ddEntityDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="ddEntityDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.FileAccessDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.FileAccessDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="FileAccessDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.FileContactDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.FileContactDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="FileContactDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.FileXRefDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.FileXRefDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="FileXRefDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.ContactDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.ContactDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="ContactDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.ProcessDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.ProcessDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="ProcessDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.secFileRuleDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.secFileRuleDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="secFileRuleDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.SRPDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.SRPDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="SRPDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="atriumDB.EFileDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="atriumDB.EFileDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="EFileDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="officeDB.OfficerDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="officeDB.OfficerDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="OfficerDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Advisory.OpinionDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="Advisory.OpinionDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/Advisory.xsd" name="namespace" />
      <xs:attribute fixed="OpinionDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="officeDB.ContactEmailDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="officeDB.ContactEmailDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="ContactEmailDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="officeDB.OfficeDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="officeDB.OfficeDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="OfficeDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="officeDB.OfficerDelegateDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="officeDB.OfficerDelegateDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="OfficerDelegateDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="officeDB.MemberProfileDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="officeDB.MemberProfileDataTable" Namespace="http://schemas.datacontract.org/2004/07/lmDatasets" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="" name="namespace" />
      <xs:attribute fixed="MemberProfileDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
</xs:schema>